[PROXY.rebirthss1]
uri = "ssr://IG5zZzEuci12cG4udG9wIDoyMDMzNzpvcmlnaW46Y2hhY2hhMjA6cGxhaW46TUdwaE1XWXdPRkJtVkE9PS8_b2Jmc3BhcmFtPSZyZW1hcmtzPTZMYUY2YXVZNllDZjZJcUM1NEs1S09hV3NPV0tvT1dkb1NrZyZncm91cD1VbVZpYVhKMGFDQkRiRzkxWkEmdWRwcG9ydD0wJnVvdD0w"

[PROXY.rebirthss2]
uri = "ssr://IG5zZzIuci12cG4udG9wIDoyMDMzNzpvcmlnaW46Y2hhY2hhMjA6cGxhaW46TUdwaE1XWXdPRkJtVkE9PS8_b2Jmc3BhcmFtPSZyZW1hcmtzPTZMYUY2YXVZNllDZjZJcUM1NEs1S09hV3NPV0tvT1dkb1NrZyZncm91cD1VbVZpYVhKMGFDQkRiRzkxWkEmdWRwcG9ydD0wJnVvdD0w"

[PROXY.rebirthss3]
uri = "ssr://IG5qcDIuci12cG4udG9wIDoyMDMzNzpvcmlnaW46Y2hhY2hhMjA6cGxhaW46TUdwaE1XWXdPRkJtVkE9PS8_b2Jmc3BhcmFtPSZyZW1hcmtzPTVMaTc1WXFiNklxQzU0SzVLT2FYcGVhY3JDa2cmZ3JvdXA9VW1WaWFYSjBhQ0JEYkc5MVpBJnVkcHBvcnQ9MCZ1b3Q9MA"

[PROXY.rebirthss4]
uri = "ssr://IG5qcDEuci12cG4udG9wIDoyMDMzNzpvcmlnaW46Y2hhY2hhMjA6cGxhaW46TUdwaE1XWXdPRkJtVkE9PS8_b2Jmc3BhcmFtPSZyZW1hcmtzPTVMaTc1WXFiNklxQzU0SzVLT2FYcGVhY3JDa2cmZ3JvdXA9VW1WaWFYSjBhQ0JEYkc5MVpBJnVkcHBvcnQ9MCZ1b3Q9MA"

[PROXY.rebirthss5]
uri = "ssr://IG51c2Euci12cG4udG9wIDoyMDMzNzpvcmlnaW46Y2hhY2hhMjA6cGxhaW46TUdwaE1XWXdPRkJtVkE9PS8_b2Jmc3BhcmFtPSZyZW1hcmtzPTVMaTc1WXFiNklxQzU0SzVLT2UtanVXYnZTa2cmZ3JvdXA9VW1WaWFYSjBhQ0JEYkc5MVpBJnVkcHBvcnQ9MCZ1b3Q9MA"

[PROXY.rebirthss6]
uri = "ssr://IG5oay5yLXZwbi50b3AgOjIwMzM3Om9yaWdpbjpjaGFjaGEyMDpwbGFpbjpNR3BoTVdZd09GQm1WQT09Lz9vYmZzcGFyYW09JnJlbWFya3M9NUxpNzVZcWI2SXFDNTRLNUtPbW1tZWE0cnlrZyZncm91cD1VbVZpYVhKMGFDQkRiRzkxWkEmdWRwcG9ydD0wJnVvdD0w"

[PROXY.rebirthss7]
uri = "ssr://IG50MS5yLXZwbi50b3AgOjIwMzM3Om9yaWdpbjpjaGFjaGEyMDpwbGFpbjpNR3BoTVdZd09GQm1WQT09Lz9vYmZzcGFyYW09JnJlbWFya3M9NUxpdDZMMnM2SXFDNTRLNUtPYWRyZWE0cnlrZyZncm91cD1VbVZpYVhKMGFDQkRiRzkxWkEmdWRwcG9ydD0wJnVvdD0w"

[PROXY.rebirthss8]
uri = "ssr://IG5jYS5yLXZwbi50b3AgOjIwMzM3Om9yaWdpbjpjaGFjaGEyMDpwbGFpbjpNR3BoTVdZd09GQm1WQT09Lz9vYmZzcGFyYW09JnJlbWFya3M9NUxpNzVZcWI2SXFDNTRLNUtPV0tvT2FMdi1Xa3B5a2cmZ3JvdXA9VW1WaWFYSjBhQ0JEYkc5MVpBJnVkcHBvcnQ9MCZ1b3Q9MA"
